@import '../App/reset.scss';


// Color Scheme
$charcoal: #36454F;
$ink: #062F4F;
$ember: #B82601;
$posy: #813772;
$black: rgb(24, 27, 39);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
$montserrat:'Montserrat', sans-serif;

// PT serif
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
$ptserif: 'PT Serif', serif;

* {
  // outline: 1px solid red;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
// html {
//   overflow: scroll;
//   overflow-x: hidden;
// }
// ::-webkit-scrollbar {
//   width: 0px;  /* remove scrollbar space */
//   background: transparent;  /* optional: just make scrollbar invisible */
// }