@import '../App/global.scss';

#about {
  height: 100vh;
  width: 100%;
}
.about_right_static {
  position: absolute;
  background: #e6e1e5;
  // background: #81377280;
  height: 110vh;
  width: 50%;
  top: 93%;
  left: 50%;
}
// 971px width